
.carrito{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    align-self:flex-start;
    overflow: scroll;
    height: 100%;
}

.producto{
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px;
    border-radius: 5px;
    background-color: white;
}

.producto img {
    max-height: 100%;
}

.elmRop{
    /* display: flex; */
    margin: 0px 5px 0px 45%;
    font-size: 35px;
    width: 5%;
    height: 14%;
    text-align: center;
    line-height: 100%;
    background-color: red;
    color: white;
    border-radius: 5px 5px 0px 5px;
    
}


.elmRop:hover{
    cursor: pointer;
}

.carrImg{
    width: 50%;
    height: 100%;
    text-align: center;
}
.carrImg img{
    height: 100%;
    border-radius: 5px;
}

.tituloCarr{
    width: 50%;
    font-size: 30px;
}

.tituloCarr h4{
    margin: 20px 0px;
}

.unidades{
    width: 50%;
    font-size: 20px;
    margin: 10px 0px;
}

.unidades input{
    font-size: 20px;
}

.informacion{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.precioCarr{
    width: 50%;
    font-size: 25px;
}

.talla{
    width: 50%;
    font-size: 25px;
}


.controles{
    width: 25%;
    position: fixed;
    top: 15dvh;
    left: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.total{
    width: 80%;
    margin: 10px 10%;
    background-color: goldenrod;
    font-size: 50px;
    text-align: center;
}

#enviar, #borrar, #comprar {
    background-color: burlywood;
    border-radius: 5px;
    font-size: 20px;
    min-width: 30%;
}
