.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 10%;
    width: 80%;
}


.datos{
    width: 80%;
    margin: 0 0 5% 0;

}

.datos table{
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
}

.datos th{
    background-color: lightgrey;
}

.datos th, .datos tr, .datos td{
    border: 2px solid black;
    padding: 5px;
    min-width: 10%;
}

.datos tr:hover{
    cursor: pointer;
}

.datos table tr:first-child th:first-child {
    border-top-left-radius: 10px; 
}


.datos table tr:first-child th:last-child {
    border-top-right-radius: 10px; 
}


.datos table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}


.datos table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


.datos tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}



.detalles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    visibility: hidden; 
    opacity: 0; 
}

.contenidoDetalles{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: fit-content;
    min-width: 500px;
    max-width: 50%;
}



.infoUser{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.infoUser span{
    min-width: 50%;
}


.tablaProdus{
    height: 300px;
    max-height: 50dvh;
    overflow: scroll;
}

.tablaProdus table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.infoProdus{
    background-color: lightgrey;
    padding: 5px;
}

.infoProdus tr, .infoProdus td, .tablaProdus th{
    border: 1px solid black;
    text-align: center;
}

.tablaProdus th{
    top: 0;
    z-index: 1000;
    position: sticky;
    background-color: darkgoldenrod;
    border: 1px solid black;
}

.precTotal{
    float: right;
    margin: 5px 0;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
}

.cerrar{
    float: right;
    background-color: rgb(248, 114, 114);
    color: black;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding: 5px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
}


.cerrar:hover{
    cursor: pointer;
    background-color: red;
    color: white;
    transition: 0.1s;
}



/* ----------------------- */

@media (max-width: 768px) {
    /* Botones de acción */
    .botones {
        flex-direction: column;
        width: 90%;
        margin: 5% auto;
        gap: 15px;
    }

    /* Contenedor de datos y tabla principal */
    .datos {
        width: 100%;
        margin: 20px 0;
    }

    .datos table {
        width: 100%;
        display: block;
        overflow-x: auto;
        border-radius: 0;
    }

    .datos th, .datos tr, .datos td {
        min-width: 150px;
        box-sizing: border-box;
        white-space: nowrap;
        padding: 10px 5px;
    }

    /* Eliminar border-radius que rompe el scroll lateral */
    .datos table tr:first-child th:first-child,
    .datos table tr:first-child th:last-child,
    .datos table tr:last-child td:first-child,
    .datos table tr:last-child td:last-child {
        border-radius: 0;
    }

    /* Modal de Detalles del Pedido */
    .detalles {
        align-items: flex-start;
        padding-top: 20px;
    }

    .contenidoDetalles {
        width: 95%;
        min-width: 95%;
        max-width: 95%;
        padding: 15px;
        margin: 0 10px;
    }

    /* Información del Usuario dentro del modal */
    .infoUser {
        flex-direction: column;
    }

    .infoUser span {
        min-width: 100%;
        margin-bottom: 5px;
        padding: 5px 0;
        border-bottom: 1px dashed lightgray;
    }

    /* Tabla de Productos dentro del modal */
    .tablaProdus {
        height: auto;
        max-height: 40vh;
        overflow-x: auto;
    }

    .tablaProdus table {
        width: 150%; 
        min-width: 400px;
    }

    .infoProdus tr, .infoProdus td, .tablaProdus th {
        padding: 8px 3px;
        overflow: hidden;
    }

    .infoProdus td {
        white-space: nowrap;
    }

    /* Precio total */
    .precTotal {
        float: none;
        width: 100%;
        text-align: right;
        box-sizing: border-box;
    }

    /* Botón de cerrar */
    .cerrar {
        font-size: 1.2em;
        width: 25px;
        padding: 2px;
    }
}