#formularioPago{
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
    max-width: 900px;
    align-items: center;
    box-shadow: 0 5px 15px ;
}


#formularioPago input{
    width: 100%;
}

.contenido{
    display: flex;
    flex-direction: row ;
    gap: 5%;
    width: 100%;
}

.direccion{
    width: 50%;
}

.metodoPago{
    width: 50%;
}

button {
    width: 80%;
    background-color: rgb(248, 158, 40);
    border-radius: 10px;
    font-size: 20px;
}

button:hover, span:hover{
    background-color: rgb(104, 59, 0);
    color: white;
    cursor: pointer;
}