table{
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: 5% 0;
}

th{
    background-color: lightgrey;
}

th, tr, td{
    /* text-align: center; */
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 20%;
}


button{
    border: none;
    background: none; 
    padding: 0; 
    cursor: pointer;
}

table img{
    width: 100%;
    height: 50%;
}


.add{
    display: flex;
    margin: 5dvh 10dvw;
    background-color: burlywood;
    border: black  solid 2px;
    border-radius: 5px;
    align-self: flex-end;
    padding: 10px;
}

.add a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.add:hover a, .add:hover{
    background-color: rgb(60, 49, 36);
    color: white;
}


.eliminar{
    font-size: 50px;
    text-align: center;
}

.eliminar:hover{
    cursor: pointer;
}
