/* Estilos principales de la tarjeta */
.producto{
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 5px solid black;
    height: 100dvh;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); 
}

.titulos{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aplicarCambios{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
    padding-bottom: 5px;
}

.aplicarCambios:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


/* Estilos de las fotos */
.fotos{
    width: 50%;
    overflow: scroll;
    max-height: 85%;
    flex-shrink: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fotos img {
    width: 100%;
}

.eliminar {
    z-index: 999;
    position: relative;
    top: 30px;
    left: 95%;
    font-size: 30px;
    padding-top: 30px;
    padding: 0px;
}


.eliminar:hover, .quitarColor:hover, .quitarColorTalla:hover, .cerrarCuadro:hover{
    background-color: red;
    color:white;
    cursor: pointer;
}



/* Estilos información del producto */
.informacion{
    margin: 10px;
    max-height: 85%;
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
    background-color: rgba(211, 211, 211, 0.278);
    border-radius: 5px;
    padding-left: 5px;
}

.nombre{
    width: 100%;
}

.categoria, .coleccion, .precio, .descuento{
    width: 45%;
}

.colDisponibles{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addcolor, .addcolor form{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.addcolor label{ 
    width: 100%;
    display: block;
}

.addcolor input {
    display: block;
}

#nuevoColor{
    flex-basis: 30%;
    display: block;
    width: fit-content;
    margin: 10px 80% 0px 0px;
}

.talla{
    width: 50%;
}

.stock, .titulosStock{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.titulosStock h4{
    width: 50%;
    text-align: left;
    margin-bottom: 0;
}

.stock ul, .stock ul li{
    width: 100%;
}

.stock ul{
    margin-top: 0;
}

.stock ul li{
    padding-top: 10px;
}

.stock input{
    width: 50%;
    float: right;
}

.descripcion{
    width: 100%;
}

#description{
    width: 95%;
    padding: 0;
    margin: 10px 0px 0px 0px;
}



/* Estilo para el cuadro de añadir nuevos colores */
.addColores{
    background-color: white;
    position: fixed;
    top: 40dvh;
    left: 50%;
    width: 50dvh;
    height: 50dvh;
    z-index: 999;
    border-radius: 5px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
}


.addColores label{
    width: 90%;
}

.algunasTallas{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0.5; 
    pointer-events: none; 
}

.algunasTallas label{
    width: 40%;    
}

.cerrarCuadro{
    position: absolute;
    top: 5%;
    left: 90%;
    font-size: 20px;
}





