.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.producto{
    background-color: var(--colorFondoProductos);
    width: 100%;
    height: 350px;
    /* margin: 10px; */
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img{
    max-width: 80%;
    max-height: 60%;
    margin: 4% 0;
}

a{
    padding: 10px;
    width: 30%;
    color: black;
    text-decoration: none;
    font-size: 30px;
}

