
.carrito{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    align-self:flex-start;
    height: 100%;
}

.producto{
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px;
    border-radius: 5px;
    background-color: white;
}

.producto img {
    max-height: 100%;
}

.elmRop{
    /* display: flex; */
    margin: 0px 5px 0px 45%;
    font-size: 35px;
    width: 5%;
    height: 14%;
    text-align: center;
    line-height: 100%;
    background-color: red;
    color: white;
    border-radius: 5px 5px 0px 5px;
    
}


.elmRop:hover{
    cursor: pointer;
}

.carrImg{
    width: 50%;
    height: 100%;
    text-align: center;
}
.carrImg img{
    height: 100%;
    border-radius: 5px;
}

.tituloCarr{
    width: 50%;
    font-size: 30px;
}

.tituloCarr h4{
    margin: 20px 0px;
}

.unidades{
    width: 50%;
    font-size: 20px;
    margin: 10px 0px;
}

.unidades input{
    font-size: 20px;
}

.informacion{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.precioCarr{
    width: 50%;
    font-size: 25px;
}

.talla{
    width: 50%;
    font-size: 25px;
}


.controles{
    width: 25%;
    position: fixed;
    top: 15dvh;
    left: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.total{
    width: 80%;
    margin: 10px 10%;
    background-color: goldenrod;
    font-size: 50px;
    text-align: center;
}

#enviar, #borrar, #comprar {
    background-color: burlywood;
    border-radius: 5px;
    font-size: 20px;
    min-width: 30%;
}
/* -------------------------- */

@media (max-width: 768px) {
    .carrito {
        width: 100%;
        overflow-x: hidden;
        padding-bottom: 250px;
    }

    .producto {
        width: 90%;
        height: auto;
        margin: 20px auto;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .carrImg {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .carrImg img {
        max-height: 200px;
        width: auto;
        max-width: 100%;
    }

    .elmRop {
        align-self: flex-end;
        margin: 0;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }

    .tituloCarr, .unidades, .informacion, .precioCarr, .talla {
        width: 100%;
        text-align: center;
    }

    .tituloCarr h4 {
        font-size: 20px;
        margin: 10px 0;
    }

    .informacion {
        flex-direction: column;
    }

    .controles {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: white;
        border-top: 1px solid black;
        padding: 15px 0;
        z-index: 2000;
        box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
    }

    .total {
        font-size: 32px;
        margin: 10px auto;
    }

    #enviar, #borrar, .controles~a {
        width: 30%;
        font-size: 14px;
        padding: 10px 5px;
        min-width: auto;
    }
}