/* Estilos principales de la tarjeta */
.producto{
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 5px solid black;
    height: 100dvh;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); 
}

.titulos{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid rgba(211, 211, 211, 0.278);
    
}

.aplicarCambios, .addProducto{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
    padding-bottom: 5px;
}

.aplicarCambios:hover, .addProducto:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 10%;
    width: 80%;
}

.btnAddFoto{
    background-color: burlywood;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 2%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); 
    /* position: absolute;
    left: 30dvb;
    top:20dvb; */
    float: right;
    display: flex;
    align-self: flex-end;
}


.btnAddFoto:hover{
    background-color: rgb(60, 49, 36);
    color: white;
    cursor: pointer;
}



/* Estilos de las fotos */
.fotos{
    width: 50%;
    overflow: scroll;
    max-height: 85%;
    flex-shrink: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fotos img {
    width: 100%;
}

.eliminar {
    z-index: 999;
    position: relative;
    top: 30px;
    left: 95%;
    font-size: 30px;
    padding-top: 30px;
    padding: 0px;
}


.eliminar:hover, .quitarColor:hover, .quitarColorTalla:hover, .cerrarCuadro:hover, .cerrarCuadro:hover{
    background-color: red;
    color:white;
    cursor: pointer;
}



/* Estilos información del producto */
.informacion{
    margin: 0 10px 10px 10px;
    max-height: 85%;
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
    background-color: rgba(211, 211, 211, 0.278);
    border-radius: 0 0 5px 5px;
    padding-left: 5px;
}

.nombre{
    width: 100%;
}

.categoria, .coleccion, .precio, .descuento{
    width: 45%;
}

.colDisponibles{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addcolor, .addcolor form{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.addcolor label{ 
    width: 100%;
    display: block;
}

.addcolor input {
    display: block;
}

#nuevoColor{
    flex-basis: 30%;
    display: block;
    width: fit-content;
    margin: 10px 80% 0px 0px;
}

.talla{
    width: 50%;
}

.stock, .titulosStock{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.titulosStock h4{
    width: 50%;
    text-align: left;
    margin-bottom: 0;
}

.stock ul, .stock ul li{
    width: 100%;
}

.stock ul{
    margin-top: 0;
}

.stock ul li{
    padding-top: 10px;
}

.stock input{
    width: 50%;
    float: right;
}

.descripcion{
    width: 100%;
}

#description{
    width: 95%;
    padding: 0;
    margin: 10px 0px 0px 0px;
}



/* Estilo para el cuadro de añadir nuevos colores */
.addColores{
    background-color: white;
    position: fixed;
    top: 40dvh;
    left: 50%;
    width: 50dvh;
    height: 50dvh;
    z-index: 999;
    border-radius: 5px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
}


.addColores label{
    width: 90%;
}

.algunasTallas{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0.5; 
    pointer-events: none; 
}

.algunasTallas label{
    width: 40%;    
}

.cerrarCuadro{
    position: absolute;
    top: 5%;
    left: 90%;
    font-size: 20px;
}



/* Estilo para el cuadro añadir foto */
.addFoto{
    background-color: white;
    position: fixed;
    top: 50dvh;
    left: 50%;
    width: 80dvw;
    height: 80dvh;
    z-index: 999;
    border-radius: 5px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    overflow: scroll;
    /* overflow-x: hidden; */
}

.nuevaFoto{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
}

.nuevaFoto form{
    /* width: 100%; */
    max-height: 80%;   
    /* overflow: scroll; */
    padding: 5px;
}
.previsualizacion{
    max-height: 100%;
    max-width: 100%;
    /* overflow: scroll; */
}

#previsualizacion{
    max-width: 100%;
    max-height: 50dvh;
}

.colorFoto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-start;
    justify-self: flex-start;
}


/* ------------------------ */


@media (max-width: 768px) {
    .producto {
        width: 95%;
        height: auto;
        flex-direction: column;
        margin: 15px auto;
    }

    .titulos {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .aplicarCambios, .addProducto {
        width: 90%;
        margin: 10px auto;
        font-size: 24px;
        padding: 10px;
    }

    .botones {
        width: 90%;
        margin: 10px auto;
    }

    .btnAddFoto {
        width: 100%;
        padding: 10px;
        float: none;
        align-self: center;
        justify-content: center;
        margin-top: 15px;
    }

    .fotos {
        width: 100%;
        max-height: 400px;
        margin-bottom: 20px;
        padding: 10px;
        justify-content: center;
    }

    .eliminar {
        top: 10px;
        left: 90%;
        font-size: 20px;
    }

    .informacion {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
    }

    .categoria, .coleccion, .precio, .descuento {
        width: 100%;
        margin-bottom: 10px;
    }

    .addcolor {
        flex-direction: column;
        align-items: flex-start;
    }

    #nuevoColor {
        flex-basis: auto;
        width: 90%;
        margin: 5px 0 10px 0;
    }

    .talla {
        width: 100%;
    }

    .addColores {
        top: 50%;
        left: 50%;
        width: 90%;
        height: auto;
        max-height: 90vh;
        transform: translate(-50%, -50%);
        padding: 15px;
    }

    .addFoto {
        top: 50%;
        left: 50%;
        width: 95%;
        height: auto;
        max-height: 90vh;
        transform: translate(-50%, -50%);
        padding: 15px;
    }

    .cerrarCuadro {
        top: 10px;
        left: 90%;
        font-size: 24px;
    }

    .nuevaFoto {
        height: auto;
    }

    #previsualizacion {
        max-height: 30dvh;
    }
}
