/* Estilos para la tabla */
.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 10%;
    width: 80%;
}


table{
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
    margin: 0 0 5% 0;
    border-radius: 5px;
}

th{
    background-color: lightgrey;
}

th, tr, td{
    border: 2px solid black;
    padding: 5px;
    min-width: 10%;
}

tr:hover{
    cursor: pointer;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px; 
}


table tr:first-child th:last-child {
    border-top-right-radius: 10px; 
}


table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}


table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}