
.dashboard{
    margin: 4dvh 0;
    background-color: burlywood;
    display: flex;
    width: 90%;
    height: 50vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px;
    border-radius: 5px;
    border: solid  darkgoldenrod 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.dashboard a{
    width: 30%;
    height: 5vh;
    background-color: rgb(177, 125, 5);
    text-align: center;
    border: solid black 2px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-size: 4dvb;
}

a:hover{
    background-color: black;
    color: white;
}


button{
    background-color: rosybrown;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    border: none;
}


button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


/* ------------------ */
@media (max-width: 768px) {
    .dashboard {
        height: auto;
        min-height: 40vh;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    .dashboard a {
        width: 90%;
        height: auto;
        margin: 10px auto;
        padding: 15px 5px;
        font-size: 18px;
        box-sizing: border-box;
        line-height: normal;
    }
}
