:root{
    --colorFondo: rgb(246, 227, 194);
    --colorFondoProductos: white; 
}


body{
    background-color: var(--colorFondo);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 10%;
    position: sticky;
    top:0;
}

nav{
    width: 50%;
    max-height: 100%;
}

nav .menu{
    max-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items:end;
    flex-direction: row;
    list-style: none;
}

nav .menu li{
    padding: 5px;
    list-style: none;
    position: relative;
}

nav .menu > li:hover > a, nav .menu > li:hover{
    background-color: white;
    color:black;
    border-radius: 5px;
    cursor: pointer;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: block;
    padding: 5px 10px;
}


.alerta{
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: black;
    padding: 20px 30px;
    border-radius: 8px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    text-align: center; 
    font-size: 1.2em; 
    font-weight: bold; 
    z-index: 10000; 
    max-width: 80%; 
    min-width: 250px; 
    box-sizing: border-box;
}


.enlaceVuelta{
    background-color: burlywood;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 2%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); 
    float: left;
    display: flex;
    align-self: flex-start;
}

.enlaceVuelta a{
    color: black;
    text-decoration: none;
}

.enlaceVuelta:hover, .enlaceVuelta:hover a{
    background-color: rgb(60, 49, 36);
    color: white;
}



/* Estilos para el menu desplegable del dashboard */

.submenu{
    display: none;
    flex-direction: row;
    align-content: space-between;
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 1000;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul li:hover .submenu{
    display: flex;
}

.submenu li a{
    padding: 10px 15px;
    display: block;
}

.submenu li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}




/* --------------------- */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        max-height: none;
        position: relative;
        padding-bottom: 10px;
    }

    nav {
        width: 100%;
    }

    nav .menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    nav .menu li {
        width: 100%;
        text-align: center;
    }

    nav a {
        font-size: 18px;
        padding: 15px 0;
        width: 100%;
    }

    .submenu {
        position: relative;
        top: 0;
        width: 100%;
        flex-direction: column;
        background-color: black;
    }

    .submenu li a {
        padding: 10px;
        font-size: 16px;
    }

    .alerta {
        width: 90%;
        font-size: 1em;
        padding: 15px;
    }

    .enlaceVuelta {
        width: 90%;
        justify-content: center;
        margin: 10px auto;
        float: none;
    }
}