:root{
    --colorFondo: brown;
    --colorFondoProductos: white; 
}


body{
    background-color: var(--colorFondo);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    width: 50%;
}

nav ul{
    display: flex;
    justify-content: right;
}

nav ul li{
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}


.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto{
    background-color: var(--colorFondoProductos);
    width: 350px;
    height: 350px;
    margin: 10px;
}
