:root{
    --colorFondo: rgb(246, 227, 194);
    --colorFondoProductos: white; 
}


body{
    background-color: var(--colorFondo);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 10%;
}

nav{
    width: 50%;
    max-height: 100%;
}

nav ul{
    max-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items:end;
    flex-direction: row;
}

nav ul li{
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}


.alerta{
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: black;
    padding: 20px 30px;
    border-radius: 8px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    text-align: center; 
    font-size: 1.2em; 
    font-weight: bold; 
    z-index: 10000; 
    max-width: 80%; 
    min-width: 250px; 
    box-sizing: border-box;
}


.enlaceVuelta{
    background-color: burlywood;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 2%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); 
    /* position: absolute;
    left: 30dvb;
    top:20dvb; */
    margin: 2% 10%;
    float: left;
    display: flex;
    align-self: flex-start;
}

.enlaceVuelta a{
    color: black;
    text-decoration: none;
}

.enlaceVuelta:hover, .enlaceVuelta:hover a{
    background-color: rgb(60, 49, 36);
    color: white;
}