.usuario{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    height: 50%;
    border-radius: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}


.datosUsuario, .direccionUsuario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 2px solid lightgrey;
    border-radius: 10px;
}

.datosUsuario h2, .direccionUsuario h2{
    width: 100%;
    padding: 2%;
}

.datosUsuario p, .direccionUsuario p, .datosUsuario label{
    width: 45%;
    padding: 2%;
    font-size: 15px;
    background-color: lightgray;
}


.enlaceVuelta{
    margin: 5dvh 10dvw;
}

/* ----------------- */


@media (max-width: 768px) {
    .usuario {
        width: 95%;
        height: auto;
        margin: 20px auto;
    }

    .datosUsuario, .direccionUsuario {
        flex-direction: column;
        padding: 10px 0;
        margin: 10px;
    }

    .datosUsuario p, .direccionUsuario p, .datosUsuario label {
        width: 90%;
        padding: 10px 5%;
        margin: 5px 0;
        font-size: 16px;
    }

    .enlaceVuelta {
        margin: 20px auto;
        width: 90%;
        text-align: center;
    }
}