.formInicioSesion{
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); 
    width: 50%;
    margin: 5dvh auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.formInicioSesion h1{
    flex-basis: 100%;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.formInicioSesion  form{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.formInicioSesion form input{
    width: 30%;
}

.formInicioSesion form button{
    width: 30%;
    margin: 2dvh 0;
    background-color: rgb(253, 184, 44);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.formInicioSesion form button:hover{
    cursor: pointer;
    background-color: rgb(140, 94, 3);
    color: white;
}

.formInicioSesion a{
    text-decoration: none;
    color: blue;
}

.formInicioSesion a:hover{
    color: darkblue;
    text-decoration: underline;
}

/* ------------------- */


@media (max-width: 768px) {
    .formInicioSesion {
        width: 90%;
        margin: 20px auto;
    }

    .formInicioSesion form input {
        width: 90%;
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
    }

    .formInicioSesion form button {
        width: 90%;
        padding: 12px;
        font-size: 18px;
    }
}