table{
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
    margin: 5dvh 0 5% 0;
    border-radius: 10px;
}

th{
    background-color: lightgrey;
    padding: 15px;
}

th, td{
    border: 2px solid black;
    padding: 10px;
    width: 20%;
}

tr:hover{
    cursor: pointer;
}


button{
    border: none;
    background: none; 
    padding: 0; 
    cursor: pointer;
}

table img{
    width: 100%;
    height: 50%;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px; 
}


table tr:first-child th:last-child {
    border-top-right-radius: 10px; 
}


table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}


table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


tbody tr:nth-child(odd) td:not(:first-child){
    background-color: whitesmoke;
}






.add{
    display: flex;
    margin: 5dvh 10dvw 0 0;
    background-color: burlywood;
    border: black  solid 2px;
    border-radius: 5px;
    align-self: flex-end;
    padding: 10px;
    font-size: 20px;
}

.add a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.add:hover a, .add:hover{
    background-color: rgb(60, 49, 36);
    color: white;
    cursor: pointer;
}


.eliminar{
    font-size: 50px;
    text-align: center;
}





input, textarea{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}



@media (max-width: 768px) {
    /* Ajustes generales para inputs y textareas */
    input, textarea {
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
    }

    /* Estilos de la tabla para permitir scroll horizontal */
    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        margin: 20px 0;
        border-radius: 0;
    }

    th, td {
        width: 150px;
        min-width: 150px; /* Asegura un ancho mínimo para cada columna */
        box-sizing: border-box;
    }

    /* Eliminar los border-radius que rompen el scroll lateral en la tabla */
    table tr:first-child th:first-child,
    table tr:first-child th:last-child,
    table tr:last-child td:first-child,
    table tr:last-child td:last-child {
        border-radius: 0;
    }

    /* Ajuste para el botón/enlace "Add" */
    .add {
        margin: 20px auto;
        width: 90%;
        align-self: center;
        justify-content: center;
    }

    /* Ajuste para el tamaño del ícono de eliminar */
    .eliminar {
        font-size: 36px;
    }
}