.datosUsuario{
    background-color: white;
    height: 50dvh;
    width: 50dvw;
    max-width: 50%;
    max-height: 50%;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 5dvh auto;
}

#email{
    border: none;
}

#email:hover{
    cursor: default;
}

#email:focus{
    outline: none;
    box-shadow: none;
}



.botonesUsuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5dvh;
    margin-top: 5dvh;
}

.botonesUsuario span{
    background-color: rgb(227, 142, 39);
    color: black;
    border-radius: 5px;
    border: solid 1px brown;
    padding: 5px 10px;
    width: 80%;
    text-align: center;
    transition: linear 0.3s;
}


.botonesUsuario span:hover{
    background-color: brown;
    color: white;
    font-size: 30px;
    transition: linear 0.3s;
    cursor: pointer;
}





/* Estilos para cuadros de dialogo */
.cuadrosDialogo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    visibility: hidden; 
    opacity: 0; 
}



#perfil, #historial, #reclamacion{
    position: fixed;
    top: 20dvh;
    background-color: white;
    border-radius: 5px;
    border: solid 1px whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 50dvw;
    height: 70dvh;
    visibility: hidden; 
    opacity: 0;
    /* overflow-y: scroll; */
}

.cerrar{
    position: absolute;
    top: 10px;
    left: 95%;
    background-color: rgb(241, 91, 91);
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
}

.cerrar:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

.cerrarDetalles{
    position: relative;
    top: 10px;
    left: 95%;
    background-color: rgb(241, 91, 91);
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
}

.cerrarDetalles:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}




/* Estilos para cuadro de cambio de ajustes de usuario */
.btnDireccion{
    background-color: rgb(227, 142, 39);
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    box-sizing: border-box;
}

.btnDireccion:hover {
    background-color: #5e3800;
    color: white;
}

.datosDireccion {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s linear; 
    padding-top: 0; 
    border-top: none;
}

.datosDireccion.active {
    max-height: 500px;
    opacity: 1;
    padding-top: 15px; 
    border-top: 1px solid #eee;
}

.btnDireccion .flecha-desp {
    transition: transform 0.3s linear;
}

.btnDireccion.active .flecha-desp {
    transform: rotate(90deg); 
}

.formulario {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario input[type="text"] {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.formulario button:hover {
    background-color: #218838;
}


/* Estilos para cuadro de historial de compras */
.datos{
    width: 80%;
    margin: 0 10% ;

}

.datos table{
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
}

.datos th{
    background-color: lightgrey;
}

.datos th, .datos tr, .datos td{
    border: 2px solid black;
    padding: 5px;
    min-width: 10%;
}

.datos tr:hover{
    cursor: pointer;
}

.datos table tr:first-child th:first-child {
    border-top-left-radius: 10px; 
}


.datos table tr:first-child th:last-child {
    border-top-right-radius: 10px; 
}


.datos table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}


.datos table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


.datos tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}



.detalles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    visibility: hidden; 
    opacity: 0; 
}

.contenidoDetalles{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: fit-content;
    min-width: 500px;
    max-width: 50%;
}



.infoUser{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.infoUser span{
    min-width: 50%;
}


.tablaProdus{
    height: 300px;
    max-height: 50dvh;
    overflow: scroll;
}

.tablaProdus table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.infoProdus{
    background-color: lightgrey;
    padding: 5px;
}

.infoProdus tr, .infoProdus td, .tablaProdus th{
    border: 1px solid black;
    text-align: center;
}

.tablaProdus th{
    top: 0;
    z-index: 1000;
    position: sticky;
    background-color: darkgoldenrod;
    border: 1px solid black;
}

.precTotal{
    float: right;
    margin: 5px 0;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
}



/* Estilos para cuadro de reclamaciones de usuario */
#reclamacion{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}


#textReclamacion{
    min-width: 50%;
    max-width: 90%;
    min-height: 20%;
    max-height: 80%;
    margin: 0px 5%;
}
#enviarReclamacion{
    width: 20%;
    background-color:#28a745;
    margin: 0px 5%;
}

